 *{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.video-cont{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
video{
    height: 100%;
    width: 100%;
}
.action-cont{
    height: 10rem;
    width: 4rem;
    /* background-color: aqua; */
    position: absolute;
    top: calc((100vh - 12rem) /2);
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    z-index: 2;
}

.record-btn{
    background-color: red;
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 50%;
    
}
.action-cont>*{
   width: 100%;
   height: 4rem;
   border: 5px solid white;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.capture-btn{
    background-color: white;
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 50%;
}
.timer-cont{
    position: absolute;
    color: white;
    bottom: 6rem;
    left: 3rem;
    z-index: 2;
    
}
.timer{
    display: none;
}
.filter-cont{
   height: 16rem;
   width: 5rem;
   background-color: lightgray;
   position: absolute;
   top: calc((100vh - 16rem)/2);
   left: 3rem;
   z-index: 2;
}


.filter{
    margin: 0%;
    padding: 0%;
    height: 4rem;
    background-image: url(landscape-shot-beautiful-valley-surrounded-by-huge-mountains-with-snowy-peaks.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color-dodge;
}
.orange{
    background-color: #ffa50052;
}
.brown{
    background-color: #a52a2a59;
}
.pink{
    background-color: #ffc0cb57;
}
.transparent{
    background-color: transparent;
}
.filter-layer{
    height: 100vh;
    width: 100vw;
    z-index: 1;
    /* background-color: lightpink; */
    position: absolute;
    top: 0;
}
/* pop up the button for capture button*/
.scale-capture{
    animation-name: scale-capture;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
@keyframes scale-capture{
    0%{
        transform : scale(0.8);
    }
    100%{
        transform : scale(1.2);
    }
}

/*pop up the button for recorder button */
.scale-record{
    animation-name: scale-record;
    animation-duration: 1s;
    animation-iteration-count: infinite;
} 
@keyframes scale-record{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform : scale(1.2);
    }
}
.material.icons{
    color: white;
    font-size: 46px;
}
.gallery{
    position: absolute;
    color: white;
    bottom: 8rem;
    right: 6rem;
}
.gallery:hover{
    cursor: pointer;
}